# latex byproducts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf
/pgcon_2010/architecture_a.png
/pgcon_2010/architecture_c.png
/pgcon_2010/architecture_e.png
/pgcon_2010/architecture_a.eps
/pgcon_2010/architecture_c.eps
/pgcon_2010/architecture_e.eps
/pgcon_2012/data_migration.png
/pgcon_2012/new_arch_db.png
/pgcon_2012/new_arch_web.png
/pgcon_2012/old_arch.png
