# latex byproducts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
/pgcon_2010/2years-of-londiste.pdf
/pgday_2009/pgstaging.pdf
/pgcon_2010/architecture_a.png
/pgcon_2010/architecture_c.png
/pgcon_2010/architecture_e.png
/pgcon_2010/architecture_a.eps
/pgcon_2010/architecture_a.pdf
/pgcon_2010/architecture_c.eps
/pgcon_2010/architecture_c.pdf
/pgcon_2010/architecture_e.eps
/pgcon_2010/architecture_e.pdf
/pgcon_2010/extensions.pdf
/pgcon_2010/pgstaging.pdf
/pgday_2010/extension.pdf
