# latex byproducts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf
/pgcon_2010/architecture_a.png
/pgcon_2010/architecture_c.png
/pgcon_2010/architecture_e.png
/pgcon_2010/architecture_a.eps
/pgcon_2010/architecture_c.eps
/pgcon_2010/architecture_e.eps
